<!DOCTYPE html>
<html>

<head>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.13/Rx.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.13/angular2-polyfills.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.13/angular2-all.umd.js"></script>
    <script src="https://cdn.rawgit.com/requirejs/almond/0.3.1/almond.js"></script>

    <script>
    requirejs(
        ["AppComponent"],
        (AppComponent) => {
            ng.core.enableProdMode();
            ng.platform.browser.bootstrap(AppComponent)
        }
    );
    
    
    

    define("Task", () =>{
        var taskId = 0;
        class Task{
            
            constructor(init){
                this.name = null;
                this._time = null;
                this.childTasks = [];
                this.isRoot = false;
                this.id = taskId++;
                if(init){
                    this.name = init.name;
                    this.id = init.id;
                    this.time = init.time;
                    if(init.childTasks && init.childTasks.length){
                        init.childTasks.forEach(ct => {
                            this.addChild(new Task(ct))
                        })
                    }
                }
            }
            
            get time(){
                
                if(this.childTasks.length){
                    let time = 0;
                    this.childTasks.forEach(c => time += c.time)
                    return time;
                }
                return this._time;
            }
            
            set time(t){
                this._time = t;
            }
            
            toJSON(){
                return {
                    name:this.name,
                    time:this.time,
                    childTasks:this.childTasks,
                    id:this.id
                }
            }
            
          
            isLastChild(){
                //whether i am the last child in my parent's childTasks
                return this.nextSibling() == null;
            }
            
            isVeryLastChild(){
                //whether I am the last child of the last child all the way up to the root task. In other words, the bottom task in the list no matter what my parent is
                var task = this;
                while(!task.isRoot && task.isLastChild()){
                    task = task.parentTask;
                }
                return task.isRoot;  
            }
            newSibling(){
                var sibling = new Task();
                
                this.parentTask.addChild(sibling);
            }
            addChild(child, at){
                child.parentTask = this;
                if(at == undefined){
                    this.childTasks.push(child)
                }else{
                    this.childTasks.splice(at,0,child)
                }
            }
            removeChild(child){
                this.childTasks.splice(child.myIndex(),1);
                child.parentTask = null;
            }
            

            indent(){
                var prev = this.previousSibling();
                if(prev != null){
                    this.parentTask.removeChild(this);
                    prev.addChild(this);
                    return true;
                } 
            }
            
            outdent(){
                if(!this.parentTask.isRoot){
                    
                    var last = this.lastSibling();
                    while(last != null){
                        last.outdent();
                        last = this.lastSibling();
                    }
                    
                    var parentIdx = this.parentTask.myIndex();
                    var newParent = this.parentTask.parentTask;
                    this.parentTask.removeChild(this);
                    newParent.addChild(this,parentIdx +1);
                    return true;
                }
            }
            myIndex(){
                return this.parentTask.childTasks.indexOf(this);   
            }
            previousSibling(){
                var myIdx = this.myIndex();
                if(myIdx > 0){
                    return this.parentTask.childTasks[myIdx-1]
                }
                return null;
            }
            nextSibling(){
                var myIdx = this.myIndex();
                if(myIdx < this.parentTask.childTasks.length -1){
                    return this.parentTask.childTasks[myIdx+1]
                }
                return null;
            }
            lastSibling(){
                var lastIdx = this.parentTask.childTasks.length -1;
                if(this.myIndex() == lastIdx){
                    return null;
                }
                return this.parentTask.childTasks[lastIdx];
            }
            firstSibling(){
                if(this.myIndex == 0){
                    return null;
                }
                return this.parentTask.childTasks[0];
            }
            firstChild(){
                if(this.childTasks.length == 0){
                    return null;
                }
                return this.childTasks[0];
            }
            lastChild(){
                if(this.childTasks.length == 0){
                    return null;
                }
                return this.childTasks[this.childTasks.length-1];
            }
            
            getFlattenedNext(){
                //get's the next task as if the whole thing was a flattened list
                
                                
                var n = this.firstChild() || this.nextSibling();
                if(n){
                    return n;
                }
                
                var p = this.parentTask;
                while(!p.isRoot){
                    var pn = p.nextSibling();
                    if(pn){
                        return pn;
                    }
                    p = p.parentTask;
                }
            }
            
            getFlattenedPrevious(){
                //get's the previous task as if the whole thing was a flattened list
                
                var p = this.previousSibling();
                if(p){
                    var pl = p.lastChild();
                    
                    if(pl){
                        var tpl = pl.lastChild();
                        while(tpl != null){
                            pl = tpl;
                            tpl = pl.lastChild();
                        }
                        
                        return pl;
                    }
                    return p;
                }
                if(!this.parentTask.isRoot){
                    return this.parentTask;
                }
                return null;
            }
        }
        return Task;
                
    });

    define("FileDropDirective",[], ()=>{
        
        class FileDropDirective{
            constructor(el){
                this.element = el;
                this.fileDropped = new ng.core.EventEmitter();
                document.addEventListener("dragover", this.doNothing);
                document.addEventListener("dragenter", this.doNothing);
                document.addEventListener("drop",this.doNothing);

            }
            hilite(){
                this.element.nativeElement.style.backgroundColor="lightblue"
            }
            
            unhilite(){
                this.element.nativeElement.style.backgroundColor=null
            }
            
            doNothing(ev){
                ev.preventDefault();
                ev.stopPropagation();
            }
            
            getFile(ev){
                this.doNothing(ev);
                this.unhilite();
                var dt = ev.dataTransfer;
                if(dt.files && dt.files.length == 1){
                    var file = dt.files[0];
                    var reader = new FileReader();
                    reader.onload = () => {
                        var data = JSON.parse(reader.result)
                        this.fileDropped.next(data);
                    }
                    reader.readAsText(file)
                    
                }
            }
        }
        FileDropDirective.annotations = [
            new ng.core.Directive({
                selector:'[fileDrop]',
                host:{
                    '(dragenter)':'doNothing($event);hilite()',
                    '(dragover)':'doNothing($event)',
                    '(drop)':'getFile($event)',
                    '(dragleave)':'unhilite()'
                    
                },
                outputs:[
                    'fileDropped'
                ]
            })
        ]
        FileDropDirective.parameters = [
            ng.core.ElementRef
        ]
        
        return FileDropDirective
    })
    
    define("AppComponent",["Task", "TaskComponent","FileDropDirective"], (Task,TaskComponent,FileDropDirective) =>{
        
        
        
        
        class AppComponent{
            constructor(){
            
                this.rootTask = new Task();
                this.rootTask.isRoot = true;
                this.rootTask.addChild(new Task());
                this.helpVisible = false;
                this.saveFileName = 'tasky-addy.json';
                
                
                
            }
            
            download(downloadLink){
                downloadLink.href="data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(this.rootTask, null, 2))
                
            }
            
            fileUploaded(data){
                this.rootTask = new Task(data);
                this.rootTask.isRoot = true;
            }
            
        };
        AppComponent.annotations = [
            new ng.core.Component(
                {
                    selector: 'my-app',
                    
                    directives:[TaskComponent,FileDropDirective],
                    template:getTpl('my-app'),
                }    
            ),

        ]
        

        return AppComponent;
    });
    
    
    
    
    define("TaskComponent", () => {
        function TaskComponent(){
            this.task = null;
        }
        TaskComponent.prototype = {
            onKeyDown: function onKeyDown(ev, task){
                //console.log(ev, task)
                if(ev.keyCode === 32 && ev.ctrlKey && ev.altKey){
                    //ctrl + alt + space will outdent this task
                    task.outdent();
                    focusThisLater(ev.target.name);
                }else if(ev.keyCode === 32 && ev.ctrlKey){
                    //ctrl + space will indent this task
                    task.indent();   
                    focusThisLater(ev.target.name);
                }else if(ev.keyCode === 9 && !ev.shiftKey && ev.target.nextElementSibling == null && task.isVeryLastChild()){
                    //tab on last input will create a new row below
                    task.newSibling();
                }else if(ev.keyCode === 38 && ev.ctrlKey ){
                    ev.preventDefault();
                    var prev = task.getFlattenedPrevious()
                    if(prev){
                        let name;
                        if(ev.altKey){
                            //ctrl + alt + up  move the thing up one row
                            task.parentTask.removeChild(task);
                            prev.parentTask.addChild(task, prev.myIndex())
                            name = ev.target.name
                        }else{
                            //ctrl + Up select the previous item
                            name = ev.target.name.replace(task.id.toString(), prev.id.toString());
                        }
                        focusThisLater(name);
                    }
                }else if(ev.keyCode === 40 && ev.ctrlKey){
                    ev.preventDefault();
                    var next =  task.getFlattenedNext();
                    if(next){
                        let name;
                        if(ev.altKey){
                            //ctrl + alt + down  move the thing down one row
                            task.parentTask.removeChild(task); 
                            next.parentTask.addChild(task, next.myIndex() +1)
                            name = ev.target.name
                        }else{
                            //ctrl + Down select the next item
                            name = ev.target.name.replace(task.id.toString(), next.id.toString());
                        }
                        focusThisLater(name);
                    }
                    
                }
                
            }
        }
        
        TaskComponent.annotations = [
            new ng.core.Component({
                inputs:["task"],
                selector:'task',
                directives:[TaskComponent],
                template:getTpl('task-template')
            }),
        
        ]
        
        return TaskComponent
    });
    
    
    
    function isLastInput(elem){
        return elem.nextElementSibling == null;
    }
    
    function getTpl(name){
        return document.getElementById(name).innerHTML;
    }
    
    function focusThisLater(name, after){
        setTimeout(()=>{
            document.querySelector(`input[name='${name}']`).focus()
            if(after){
                after();
            }
        },0)
    }
    
    
    </script>
    <style>
        .task-children {
            padding-left: 15px;
        }
        .fixed-right{
            position: fixed;
            right: 8px;
        }
        .title-buttons{
            top: 8px;
        }
        .keyboard-command>code{
            margin:0px 5px;
            font-weight: bold;
            font-size: larger;
        }
        .keyboard-command>span{
            margin:0px 5px;
        }
        .help-panel{
            top: 28px;
        }
        
        .drop-upload{
            display: inline-block;
            padding: 0px 100px
        }

    </style>
</head>

<body>
    <my-app ></my-app>

    <script type="text/html" id='my-app'>
        <div>
            <input placeholder="what are you trying to do?" type="text" name="{{rootTask.id}}-name"  [(ngModel)]="rootTask.name">
            <span >{{rootTask.time}}</span>
            <hr /><task [task]="rootTask"></task>
            <div class="title-buttons fixed-right">
                <span fileDrop (fileDropped)='fileUploaded($event)' class="drop-upload">drop a file here to upload</span>
                <span class="download"><input title="the name of the file you want to download" type="text" [(ngModel)]='saveFileName'>
                <a #downloadLink href="" title="Download this" [download]='saveFileName' (click)="download(downloadLink)">Download</a></span>
                <a href="" (click)="helpVisible = !helpVisible; $event.preventDefault()">Help</a>
            </div>
            <div *ngIf="helpVisible" class="help-panel fixed-right">
                <h3>Keyboard Commands</h3>
                <div class="keyboard-command">
                    <code>Tab</code><span>Moves to the next item or adds a new item if at the very end</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Space</code><span>Indents the current item to make it a child of the previous one</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Alt + Space</code><span>Outdents the current item to make it a sibling to the previous one</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Up</code><span>Move focus to the previous item</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Down</code><span>Move focus to the next item</span>
                </div>
            </div> 
        </div>
    </script>

    <script type="text/html" id="task-template">
        <div class="task">
            <div class="task-data" *ngIf="!task.isRoot">
                <input placeholder="name" type="text" name="{{task.id}}-name" (keydown)="onKeyDown($event, task)" [(ngModel)]="task.name">
                <input placeholder="time" type="number" name="{{task.id}}-time" (keydown)="onKeyDown($event, task)" [(ngModel)]="task.time" [disabled]="!!task.childTasks.length" >
            </div>
            <div class="task-children" *ngFor="#ctask of task.childTasks">
                <task [task]="ctask"></task>
            </div>
        </div>
    </script>
</body>

</html>