<!DOCTYPE html>
<html>

<head>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.13/Rx.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.13/angular2-polyfills.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.13/angular2-all.umd.js"></script>
    <script src="https://cdn.rawgit.com/requirejs/almond/0.3.1/almond.js"></script>
    <script src="task.js"></script>
    <script src="keys.js"></script>
    <script>
    requirejs(
        ["AppComponent"],
        (AppComponent) => {
            //ng.core.enableProdMode();
            ng.platform.browser.bootstrap(AppComponent)
        }
    );
    
    define("settings",[], () => {
        return settings = {
            showOtherThings: false,
            showNotes: true,
        }
    })
    


    define("FileDropDirective",[], ()=>{
        
        class FileDropDirective{
            constructor(el){
                this.element = el;
                this.fileDropped = new ng.core.EventEmitter();
                document.addEventListener("dragover", this.doNothing);
                document.addEventListener("dragenter", this.doNothing);
                document.addEventListener("drop",this.doNothing);

            }
            hilite(){
                this.element.nativeElement.style.backgroundColor="darkslategray"
                this.element.nativeElement.style.color="ivory"
            }
            
            unhilite(){
                this.element.nativeElement.style.backgroundColor=null
                this.element.nativeElement.style.color=null
            }
            
            doNothing(ev){
                ev.preventDefault();
                ev.stopPropagation();
            }
            
            getFile(ev){
                this.doNothing(ev);
                this.unhilite();
                var dt = ev.dataTransfer;
                if(dt.files && dt.files.length == 1){
                    var file = dt.files[0];
                    var reader = new FileReader();
                    reader.onload = () => {
                        var data = JSON.parse(reader.result)
                        this.fileDropped.next({data, fileName:file.name});
                    }
                    reader.readAsText(file)
                    
                }
            }
        }
        FileDropDirective.annotations = [
            new ng.core.Directive({
                selector:'[fileDrop]',
                host:{
                    '(dragenter)':'doNothing($event);hilite()',
                    '(dragover)':'doNothing($event)',
                    '(drop)':'getFile($event)',
                    '(dragleave)':'unhilite()'
                    
                },
                outputs:[
                    'fileDropped'
                ]
            })
        ]
        FileDropDirective.parameters = [
            ng.core.ElementRef
        ]
        
        return FileDropDirective
    })
    
    define("AppComponent",["Task", "TaskComponent","FileDropDirective","keys", "settings"], (Task,TaskComponent,FileDropDirective, keys, settings) =>{
        
        
        
        
        class AppComponent{
            constructor(){
            
                this.rootTask = this.newRootTask();
                this.rootTask.addChild(new Task());
                this.settings = settings;
                this.saveFileName = "";
                
            }
            
            newRootTask(data){
                var rt = new Task(data);
                rt.isRoot = true;
                var oldName = rt.name;
                var that = this;
                Object.defineProperty(rt,"name",{
                    enumerable:true,
                    get:function(){
                        return this._name;
                    },
                    set:function(val){
                        this._name = val;
                        that.saveFileName = val + ".json";
                    }
                })
                rt.name = oldName;
                return rt;
            }
            
            download(downloadLink){
                downloadLink.href="data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(this.rootTask, null, 2))
                
            }
            
            fileUploaded({data, fileName}){
                this.rootTask = this.newRootTask(data);
                this.saveFileName = fileName;
            }
            
            
            globalKeyDown(ev){
                if(keys(ev,"ctrl+alt+h")){
                    this.settings.showOtherThings = !this.settings.showOtherThings
                }            
                if(keys(ev,"ctrl+alt+n")){
                    this.settings.showNotes = !this.settings.showNotes
                }            
            }
            
            ngOnChanges(changes){
                console.dir(changes)
            }
            
        };
        AppComponent.annotations = [
            new ng.core.Component(
                {
                    selector: 'my-app',
                    
                    directives:[TaskComponent,FileDropDirective],
                    template:getTpl('my-app'),
                    host:{
                        '(window:keydown)':'globalKeyDown($event)'
                    }
                }    
            ),

        ]
        

        return AppComponent;
    });
    
    
    
    
    define("TaskComponent", ["keys","settings"],(keys, settings) => {
        class TaskComponent{
            
            constructor(){
                this.task = null;
                this.settings = settings;
            }
            
            onKeyDown(ev, task){
                if(keys(ev,"alt+ctrl+space") || keys(ev,"alt+ctrl+left")){
                    task.outdent();
                    focusThisLater(ev.target.name);
                }else if(keys(ev,"ctrl+space")|| keys(ev,"alt+ctrl+right")){
                    //ctrl + space will indent this task
                    task.indent();   
                    focusThisLater(ev.target.name);
                }else if(keys(ev,"tab") && ev.target.nextElementSibling == null && task.isFlattenedLastChild()){
                    //tab on last input will create a new row below
                    var newSib = task.newSibling();
                    focusThisLater(newSib.id + '-name')
                    
                }else if(keys(ev,"ctrl+up")   ){
                    ev.preventDefault();
                    var prev = task.getFlattenedPrevious()
                    if(prev){
                        //ctrl + Up select the previous item
                        let name = ev.target.name.replace(task.id.toString(), prev.id.toString());
                        focusThisLater(name);
                    }
                }else if(keys(ev,"ctrl+alt+up")   ){
                    ev.preventDefault();
                    if(task.moveUp()){
                        focusThisLater(ev.target.name);
                    }
                }else if(keys(ev,"ctrl+down") ){
                    ev.preventDefault();
                    var next =  task.getFlattenedNext();
                    if(next){
                        //ctrl + Down select the next item
                        let name = ev.target.name.replace(task.id.toString(), next.id.toString());
                        focusThisLater(name);
                    }
                    
                }else if(keys(ev,"ctrl+alt+down") ){
                    ev.preventDefault();
                    if(task.moveDown()){
                        //ctrl + alt + down  move the thing down one row
                        focusThisLater(ev.target.name);
                    }
                    
                }else if(keys(ev,"ctrl+left") && ev.target.previousElementSibling){
                    ev.target.previousElementSibling.focus()
                }else if(keys(ev,"ctrl+right") && ev.target.nextElementSibling){
                    ev.target.nextElementSibling.focus()
                }
                
            }
        }
        
        TaskComponent.annotations = [
            new ng.core.Component({
                inputs:["task"],
                selector:'task',
                directives:[TaskComponent],
                template:getTpl('task-template')
            }),
        
        ]
        
        return TaskComponent
    });
    
    
    
    function isLastInput(elem){
        return elem.nextElementSibling == null;
    }
    
    function getTpl(name){
        return document.getElementById(name).innerHTML;
    }
    
    function focusThisLater(name, after){
        setTimeout(()=>{
            var elem = document.querySelector(`input[name='${name}']`) || document.querySelector(`textarea[name='${name}']`);
            if(elem){
                elem.focus();
            }
            if(after){
                after();
            }
        },0)
    }
    
    
    </script>
    <style>
        .task-children {
            padding-left: 1em;
        }
        .fixed-right{
            position: fixed;
            right: .5em;
        }
        .title-buttons{
            top: .5em;
        }
        .keyboard-command>code{
            margin:0 .4em;
            font-weight: bold;
            font-size: larger;
        }
        .keyboard-command>span{
            margin:0px .4em;
        }
        .help-panel{
            top: 2.5em;
            width:50%;
            background: lightgray;
            padding: .5em;
        }
        
        .drop-upload{
            display: inline-block;
            padding: .5em 3em
        }
        
        input.root-name{
            width:40em
        }
        
        textarea.notes {
            width: 50em
        }
        
        input.name {
            width: 25em
        }
        
        input.time {
            width: 5em
        }
        
        input,
        textarea {
            height: 1.2em;
            vertical-align: text-top
        }

    </style>
</head>

<body>
    <my-app ></my-app>

    <script type="text/html" id='my-app'>
        <div>
            <input placeholder="what are you trying to do?" type="text" name="{{rootTask.id}}-name" class="root-name" [(ngModel)]="rootTask.name">
            <span >{{rootTask.time}}</span>
            <hr /><task [task]="rootTask"></task>
            <div class="title-buttons fixed-right">
                <a href="" (click)="settings.showOtherThings = !settings.showOtherThings; $event.preventDefault()">Other things</a>
            </div>
            <div *ngIf="settings.showOtherThings" class="help-panel fixed-right">
                <div>
                <span fileDrop (fileDropped)='fileUploaded($event)' class="drop-upload">drop a file here to upload</span>
                <span class="download"><input title="the name of the file you want to download" type="text" [(ngModel)]='saveFileName'>
                <a #downloadLink href="" title="Download this" [download]='saveFileName' (click)="download(downloadLink)">Download</a></span>
                </div>
                <hr>
                <h3>Keyboard Commands</h3>
                <div class="keyboard-command">
                    <code>Tab</code><span>Moves to the next item or adds a new item if at the very end</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Space</code>/<code>Ctrl + Alt + Right</code><span>Indents the current item to make it a child of the previous one</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Alt + Space</code>/<code>Ctrl + Alt + Left</code><span>Outdents the current item to make it a sibling to the previous one</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Alt + Up</code><span>Moves the current item up</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Alt + Down</code><span>Moves the current item down</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Up</code><span>Move focus to the previous item</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Down</code><span>Move focus to the next item</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Alt + H</code><span>Toggle display of this section</span>
                </div>
                <div class="keyboard-command">
                    <code>Ctrl + Alt + N</code><span>Toggle display of notes</span>
                </div>
                <hr>
                <h3>Settings</h3>
                <div><input type="checkbox" [(ngModel)]="settings.showNotes" /> Show notes</div>
            </div> 
        </div>
    </script>

    <script type="text/html" id="task-template">
        <div class="task">
            <div class="task-data" *ngIf="!task.isRoot">
                <input class="name" placeholder="name" type="text" name="{{task.id}}-name" (keydown)="onKeyDown($event, task)" [(ngModel)]="task.name" />
                <input class="time" placeholder="time" type="number" name="{{task.id}}-time" (keydown)="onKeyDown($event, task)" [(ngModel)]="task.time" [disabled]="!!task.childTasks.length" />
                <textarea *ngIf="settings.showNotes" class="notes" placeholder="notes" type="text" name="{{task.id}}-notes" (keydown)="onKeyDown($event, task)" [(ngModel)]="task.notes"></textarea>
            </div>
            <div class="task-children" *ngFor="#ctask of task.childTasks">
                <task [task]="ctask"></task>
            </div>
        </div>
    </script>
</body>

</html>